
body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  padding: 24px;
  margin: 0 auto;
  background-color: #0E6973;
  max-width: 950px;
}

* {
  outline: none !important;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
  flex-shrink: 1;
}

input {
  border-radius: 4px;
  padding: 8px 16px;
  border: 2px solid #F25E7A !important;
  background-color: #ddd;
}
